/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ---------------------------------Lodder de universe io---------------------------------------*/

.loader {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0); 
    z-index: 9999; 
    animation: fadeOut 3s forwards; 
    animation-delay: 2s; 
}

.box {
    position: relative;
    opacity: 1;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauche, .droite, .haut {
    position: absolute;
    width: 19px;
    height: 5px;
    top: 14px;
}

.gauche {
    background-color: #286cb5;
    transform: skew(0deg, -25deg);
}

.droite {
    background-color: #2f85e0;
    transform: skew(0deg, 25deg);
}

.haut {
    background-color: #5fa8f5;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}



@keyframes animation-gauche {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes animation-droite {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}


.box1 {
    animation: animation-gauche 4s infinite;
}

.box2 {
    animation: animation-droite 4s infinite;
    animation-delay: 1s;
}

.box3 {
    animation: animation-gauche 4s infinite;
    animation-delay: 2s;
}

.box-4 {
    animation: animation-droite 4s infinite;
    animation-delay: 3s;
}


@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ---------------------------------Toute la page---------------------------------------*/

body {
    background-color: #121212;
    color: #ffffff;
}

/* ---------------------------------Entête---------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
}

header .header {
    font-size: 30px;
    font-weight: bolder;
    color: #ff4500;
}

header nav ul {
    display: flex;
    list-style: none;
}


header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    padding: 10px;
    background-color: #1b1b1b;

}

header nav ul li a:hover {
    color: #ff4500;
    border-radius: 20px;
    border: 2px solid #ff4500;
    border-color: #ff4500;

}

/* ---------------------------------Millieu de page---------------------------------------*/

.page {
    text-align: center;
    padding: 135px;
    width: 100%;
}

.page h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.page p {
    font-size: 20px;
}

.jeux h2 {
    text-align: center;
    font-size: 50px;
    color: #ff4500;
    margin-bottom: 50px;
}

/* ---------------------------------carte qui tourne avec universe io---------------------------------------*/
.carte {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.inner {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 20%;
    left: calc(50% - (200px / 2));
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: rotating 20s linear infinite;
}

@keyframes rotating {
    from {
        transform: perspective(1000px) rotateX(-15deg) rotateY(0);
    }

    to {
        transform: perspective(1000px) rotateX(-15deg) rotateY(1turn);
    }
}

.cadre {
    position: absolute;
    width: 150px;
    height: 200px;
    border: 2px solid #ff4500;
    border-radius: 12px;
    overflow: hidden;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(calc((250px + 25px) + 50px));
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cadre .img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('../img/assassin-s-creed-shadows-pc-jeu-ubisoft-connect-cover.jpg');
    background-size: cover;
    background-position: center;
}

.cadre .img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../img/dragon-ball-sparking-zero-pc-jeu-steam-europe-cover.jpg");
    background-size: cover;
    background-position: center;
}

.cadre .img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../img/marvel-s-spider-man-2-pc-jeu-steam-cover.jpg");
    background-size: cover;
    background-position: center;
}

.cadre .img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../img/grand-theft-auto-vi-pc-jeu-rockstar-cover.jpg");
    background-size: cover;
    background-position: center;
}

.cadre .img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../img/BLEACH-ROS-Wallpaper-Article.jpg");
    background-size: cover;
    background-position: center;
}

/* ---------------------------------Bas de la page---------------------------------------*/

footer {
    margin-top: 300px;
    padding: 20px;
    background-color: #1b1b1b;

}

.mascotte {
    position: fixed;
    bottom: 0;
    right: 0;
}

.mascotte img {
    transition: 0.5s;
}

.mascotte img:hover {
    transform: scale(0.75);
}




/* -----------------------------------------Telephone et tablette------------------------------------------*/

@media all and (max-width: 768px) {


    header {
        flex-direction: column;
        text-align: center;
        padding: 7% 6%;
    }

    .header {
        padding: 20px 100px;
    }

    header ul li {
        text-align: center;
        align-items: center;

    }

    .page {
        width: 100%;
        padding: 80px 20px;
    }

    .page h1 {
        font-size: 40px;
        padding: 50px;
    }

    .page p {
        font-size: 20px;
        font-weight: lighter;

    }

    .case {
        grid-gap: 5% 5%;
    }

    .jeu:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    .jeu:hover img {
        transform: scale(1.05);

    }

    .carte {
        height: 200px;
    }

    .inner {
        --w: 120px;
        --h: 160px;
        top: 5%;
    }

    .cadre {
        width: 100px;
        height: 140px;
    }

    .cadre {
        position: absolute;
        width: 150px;
        height: 200px;
        border: 2px solid #ff4500;
        border-radius: 12px;
        overflow: hidden;
        transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(calc((25px + 25px) + 50px));
    }

    .mascotte {
        display: none;
    }

    

}


@media all and (max-width: 1024px) {


    header {
        display: flex;
    }



}