/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ---------------------------------Lodder avec universe io---------------------------------------*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0);
    z-index: 9999;
    animation: fadeOut 3s forwards;
    animation-delay: 2s;
}

.box {
    position: relative;
    opacity: 1;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-left,
.side-right,
.side-top {
    position: absolute;
    width: 19px;
    height: 5px;
    top: 14px;
}

.side-left {
    background-color: #286cb5;
    transform: skew(0deg, -25deg);
}

.side-right {
    background-color: #2f85e0;
    transform: skew(0deg, 25deg);
}

.side-top {
    background-color: #5fa8f5;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

@keyframes from-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes from-right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.box-1 {
    animation: from-left 4s infinite;
}

.box-2 {
    animation: from-right 4s infinite;
    animation-delay: 1s;
}

.box-3 {
    animation: from-left 4s infinite;
    animation-delay: 2s;
}

.box-4 {
    animation: from-right 4s infinite;
    animation-delay: 3s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ---------------------------------Toute la page---------------------------------------*/

body {
    background-color: #121212;
    color: #ffffff;
}

/* ---------------------------------Entête---------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
}

header .header {
    font-size: 30px;
    font-weight: bolder;
    color: #ff4500;
}

header nav ul {
    display: flex;
    list-style: none;
}


header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    padding: 10px;
    background-color: #1b1b1b;

}

header nav ul li a:hover {
    color: #ff4500;
    border-radius: 20px;
    border: 2px solid #ff4500;
    border-color: #ff4500;

}

/* ---------------------------------Millieu de page---------------------------------------*/

.page {
    text-align: center;
    padding: 135px;
    width: 100%;
}

.page h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.page p {
    font-size: 20px;
}

.jeux h2 {
    text-align: center;
    font-size: 50px;
    color: #ff4500;
    margin-bottom: 50px;
}

/* ---------------------------------carte qui tourne avec universe io---------------------------------------*/
.wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.inner {
    --w: 200px;
    --h: 250px;
    --translateZ: calc((var(--w) + var(--h)) + 50px);
    --rotateX: -15deg;
    --perspective: 1000px;
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 20%;
    left: calc(50% - (var(--w) / 2));
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(var(--perspective));
    animation: rotating 20s linear infinite;
}

@keyframes rotating {
    from {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
    }

    to {
        transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(1turn);
    }
}

.card {
    position: absolute;
    width: 150px;
    height: 200px;
    border: 2px solid rgba(var(--color-card));
    border-radius: 12px;
    overflow: hidden;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ));
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0000 radial-gradient(circle,
            rgba(var(--color-card), 0.2) 0%,
            rgba(var(--color-card), 0.6) 80%,
            rgba(var(--color-card), 0.9) 100%);
}

.card .img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('../img/BO6_LP-meta_image.jpg');
    background-size: cover;
    background-position: center;
}

.card .img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('../img/dragon-ball-sparking-zero-pc-jeu-steam-europe-cover.jpg');
    background-size: cover;
    background-position: center;
}

.card .img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('../img/dragon-age-veilguard-eacom-coming-soon-16x9.jpg.adapt.crop191x100.1200w.jpg');
    background-size: cover;
    background-position: center;
}

.card .img4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('../img/grand-theft-auto-vi-pc-jeu-rockstar-cover.jpg');
    background-size: cover;
    background-position: center;
}

.card .img5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url('../img/BLEACH-ROS-Wallpaper-Article.jpg');
    background-size: cover;
    background-position: center;
}

/* ---------------------------------Bas de la page---------------------------------------*/

footer {
    margin-top: 300px;
    padding: 20px;
    background-color: #1b1b1b;

}

.mascotte {
    position: fixed;
    bottom: 0;
    right: 0;

}

.mascotte img {
    transition: 0.5s;
}

.mascotte img:hover {
    transform: scale(0.75);
}




/* -----------------------------------------Telephone et tablette------------------------------------------*/

@media all and (max-width: 768px) {



    header {
        flex-direction: column;
        text-align: center;
        padding: 7% 6%;
    }

    .header {
        padding: 20px 100px;
    }

    header ul li {
        text-align: center;
        align-items: center;

    }

    .page {
        width: 100%;
        padding: 80px 20px;
    }

    .page h1 {
        font-size: 40px;
        padding: 100x;
    }

    .page p {
        font-size: 20px;
        font-weight: lighter;

    }

    .case {
        grid-gap: 5% 5%;
    }

    .jeu:hover {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }

    .jeu:hover img {
        transform: scale(1.05);

    }

    .wrapper {
        height: 200px;
    }

    .inner {
        --w: 120px;
        --h: 160px;
        top: 5%;
    }

    .card {
        width: 100px;
        height: 140px;
    }

    footer{
        margin-top: 545px;
    }

}


@media all and (min-width: 1024px) {

    header {
        display: flex;
    }
}