/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Loader */
.loader {
    position: fixed; /* Le loader doit être fixe */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Remplir l'écran entier */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0); /* Fond semi-transparent */
    z-index: 9999; /* Assurez-vous qu'il soit au-dessus de tout le contenu */
    animation: fadeOut 3s forwards; /* Animation de disparition */
    animation-delay: 2s; /* Le loader disparait après 2 secondes */
}

.box {
    position: relative;
    opacity: 1;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-left, .side-right, .side-top {
    position: absolute;
    width: 19px;
    height: 5px;
    top: 14px;
}

.side-left {
    background-color: #286cb5;
    transform: skew(0deg, -25deg);
}

.side-right {
    background-color: #2f85e0;
    transform: skew(0deg, 25deg);
}

.side-top {
    background-color: #5fa8f5;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

/* Box animations */
@keyframes from-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes from-right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

/* Animation for each box */
.box-1 {
    animation: from-left 4s infinite;
}

.box-2 {
    animation: from-right 4s infinite;
    animation-delay: 1s;
}

.box-3 {
    animation: from-left 4s infinite;
    animation-delay: 2s;
}

.box-4 {
    animation: from-right 4s infinite;
    animation-delay: 3s;
}

/* Animation de disparition du loader */
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}



/* Corps de la page */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
}

header .header {
    font-size: 30px;
    font-weight: bolder;
    color: #ff4500;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color: #1b1b1b;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff4500;
    border-radius: 20px;
    border: 2px solid #ff4500;
}

/* Section d'introduction */
.page {
    text-align: center;
    padding: 100px 20px;
    color: #ff0000;
}

.page h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.page p {
    font-size: 20px;
    margin-bottom: 30px;
}

.bouton {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main a {
    text-decoration: none;
    background-color: #ff4500;
    padding: 15px 30px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: 2px solid #ff4500;
}

main a:hover {
    color: white;
    border-radius: 10px;
    background-color: #121212;
    border: 2px solid #ff4500;
}

/* Nouvelle section pour la vidéo */
.img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Ajustez la hauteur selon vos préférences */
    background-color: #121212;
    overflow: hidden;
}

.rectangle {
    width: 80%; /* Largeur de la vidéo */
    height: 100%; /* Remplit la hauteur du conteneur */
}

#background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Permet à la vidéo de couvrir la zone sans déformation */
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #121212;
}

.wrapper h1{
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 600;
    color: #ff4500;

}

.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.card i{
    margin: 20px;
    color: #ff5724;
}

.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}

.card p{
    color: #6c757d;
    text-align: center;
}



.card:hover i,
.card:hover p{
    color: #fff;
}

.card:hover h2{
    font-size: 600;
    color: #ff5724;
}

.card:nth-child(1):hover{
    background: linear-gradient(45deg,
                                rgba(255, 136, 0, 0.7) 0%,
                                rgba(0, 0, 0, 0.7) 100%),
                                url('../img/BO6_LP-meta_image.jpg');
    background-size: cover;
}

.card:nth-child(2):hover{
    align-items: center;
    background: linear-gradient(45deg,
                                rgba(30, 113, 209, 0.7) 0%,
                                rgba(255, 251, 0, 0.7) 100%),
                                url("../img/dbsz-announcement-thumbnail.jpg");
    background-size: cover;
}

.card:nth-child(3):hover{
    background: linear-gradient(45deg,
                                rgba(255, 217, 0, 0.7) 0%,
                                rgba(255, 255, 255, 0.7) 100%),
                                url('../img/033c7bb585e77eb89fedee2376e900f8ff9be448.jpg');
    background-size: cover;
}


/* Pied de page */
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #1b1b1b;
    text-align: center;
}

.quarter-circle-img {
    position: fixed;
    bottom: 0;
    right: 0;

}

.quarter-circle-img img {
    transition: 0.5s;
}

.quarter-circle-img img:hover {
    transform: scale(0.75);
}

/* ---------------------------------------------------------------------- ANIMATIONS ---------------------------------------------------------------------------------------------*/

/* Rebond des points (chargement) */
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

/* Animation de disparition (loader)*/
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ------------------------------------------------------------------------ MEDIA QUERIES --------------------------------------------------------------------------------------*/

@media all and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 7% 6%;
    }

    .header {
        padding: 20px 100px;
    }

    header ul li {
        text-align: center;
        align-items: center;
    }

    .page {
        width: 100%;
        padding: 80px 20px;
    }

    .page h1 {
        font-size: 40px;
        padding: 10px;
    }

    .page p {
        font-size: 20px;
        font-weight: lighter;
    }

    .quarter-circle-img {
        display: none;
    }
}

@media all and (max-width: 1024px) {
    header {
        display: flex;
    }

    .quarter-circle-img {
        display: none;
    }

    .wrapper{
        padding: 25px;
    }
    
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }

    .content-box{
        flex-direction: column;
        width: 100%;
    }

    .card{
        min-width: 300px;
        margin: 10px auto;
    }
    

}
