/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Le loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    animation: fadeOut 3s forwards;
    animation-delay: 1s;
}

/* Loader 3D tower */
.loader {
    scale: 3;
    height: 50px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    opacity: 0;
    left: 10px;
}

.side-left,
.side-right {
    position: absolute;
    width: 19px;
    height: 5px;
    transform: skew(0deg, -25deg);
    top: 14px;
}

.side-left {
    background-color: #286cb5;
    left: 10px;
}

.side-right {
    background-color: #2f85e0;
    left: -9px;
}

.side-top {
    position: absolute;
    background-color: #5fa8f5;
    width: 20px;
    height: 20px;
    transform: rotate(45deg) skew(-20deg, -20deg);
}

.box-1 {
    animation: from-left 4s infinite;
}

.box-2 {
    animation: from-right 4s infinite;
    animation-delay: 1s;
}

.box-3 {
    animation: from-left 4s infinite;
    animation-delay: 2s;
}

.box-4 {
    animation: from-right 4s infinite;
    animation-delay: 3s;
}

/* Animation des boxes */
@keyframes from-left {
    0% {
        z-index: 20;
        opacity: 0;
        translate: -20px -6px;
    }

    20% {
        z-index: 10;
        opacity: 1;
        translate: 0px 0px;
    }

    40% {
        z-index: 9;
        translate: 0px 4px;
    }

    60% {
        z-index: 8;
        translate: 0px 8px;
    }

    80% {
        z-index: 7;
        opacity: 1;
        translate: 0px 12px;
    }

    100% {
        z-index: 5;
        translate: 0px 30px;
        opacity: 0;
    }
}

@keyframes from-right {
    0% {
        z-index: 20;
        opacity: 0;
        translate: 20px -6px;
    }

    20% {
        z-index: 10;
        opacity: 1;
        translate: 0px 0px;
    }

    40% {
        z-index: 9;
        translate: 0px 4px;
    }

    60% {
        z-index: 8;
        translate: 0px 8px;
    }

    80% {
        z-index: 7;
        opacity: 1;
        translate: 0px 12px;
    }

    100% {
        z-index: 5;
        translate: 0px 30px;
        opacity: 0;
    }
}

/* Corps de la page */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
}

header .header {
    font-size: 30px;
    font-weight: bolder;
    color: #ff4500;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    background-color: #1b1b1b;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff4500;
    border-radius: 20px;
    border: 2px solid #ff4500;
}

/* Section d'introduction */
.page {
    text-align: center;
    padding: 100px 20px;
    color: #ff0000;
}

.page h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.page p {
    font-size: 20px;
    margin-bottom: 30px;
}

.bouton {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main a {
    text-decoration: none;
    background-color: #ff4500;
    padding: 15px 30px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: 2px solid #ff4500;
}

main a:hover {
    color: white;
    border-radius: 10px;
    background-color: #121212;
    border: 2px solid #ff4500;
}

/* Nouvelle section pour la vidéo */
.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Ajustez la hauteur selon vos préférences */
    background-color: #121212;
    overflow: hidden;
}

.rectangle {
    width: 80%; /* Largeur de la vidéo */
    height: 100%; /* Remplit la hauteur du conteneur */
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Permet à la vidéo de couvrir la zone sans déformation */
}

/* Pied de page */
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #1b1b1b;
    text-align: center;
}

.quarter-circle-img {
    position: fixed;
    bottom: 0;
    right: 0;
}

.quarter-circle-img img {
    transition: 0.5s;
}

.quarter-circle-img img:hover {
    transform: scale(0.75);
}

/* ---------------------------------------------------------------------- ANIMATIONS ---------------------------------------------------------------------------------------------*/

/* Rebond des points (chargement) */
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

/* Animation de disparition (loader)*/
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ------------------------------------------------------------------------ MEDIA QUERIES --------------------------------------------------------------------------------------*/

@media all and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 7% 6%;
    }

    .header {
        padding: 20px 100px;
    }

    header ul li {
        text-align: center;
        align-items: center;
    }

    .page {
        width: 100%;
        padding: 80px 20px;
    }

    .page h1 {
        font-size: 40px;
        padding: 10px;
    }

    .page p {
        font-size: 20px;
        font-weight: lighter;
    }

    .quarter-circle-img {
        display: none;
    }
}

@media all and (max-width: 1024px) {
    header {
        display: flex;
    }

    .quarter-circle-img {
        display: none;
    }
}
